<footer class="footer">
  <a href="" class="footer__arrow">
    <!--ojo cambiar hrf para que vaya a header-->

    <img src="./assets/images/ico-arrow.svg" alt="Arrow to scroll up" />
  </a>
  <nav class="footer__articles">
    <ul>
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
  </nav>
  <nav class="footer__social-media">
    <ul>
      <li>Twitter</li>
      <li>Instagram</li>
      <li>Mastodon.social</li>
      <!-- <li><Mastodon class="social"></Mastodon></li> -->
    </ul>
  </nav>
  <div class="footer__copy">
    <p>&copy;2020</p>
    <small> We ❤️ components</small>
  </div>
</footer>
