<footer id="header" class="footer">
  <a href="#top" class="footer__arrow">
    <img src="./assets/images/ico-arrow.svg" alt="Arrow to scroll up" />
  </a>
  <div class="footer__articles">
    <div class="footer__articles-group">
      <nav class="footer__articles--five">
        <ul>
          <li>
            <a
              class="footer__articles-five--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Articles</a
            >
          </li>
          <li>
            <a
              class="footer__articles-five--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Books</a
            >
          </li>
          <li>
            <a
              class="footer__articles-five--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Events</a
            >
          </li>
          <li>
            <a
              class="footer__articles-five--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Reasons</a
            >
          </li>
          <li>
            <a
              class="footer__articles-five--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Tips</a
            >
          </li>
        </ul>
      </nav>
      <nav class="footer__articles--three">
        <ul>
          <li>
            <a
              class="footer__articles-three--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Twitter</a
            >
          </li>
          <li>
            <a
              class="footer__articles-three--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Instagram</a
            >
          </li>
          <li>
            <a
              class="footer__articles-three--link"
              href="https://adalab.es/"
              target="_blank"
              style="color: white; text-decoration: none"
              ;
              >Mastodon.social</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__copy">
      <p>&copy;2020</p>
      <small> We ❤️ components</small>
    </div>
  </div>
</footer>
