<header id="top" class="header">
  <a title="Go to Adalab main site" href="https://adalab.es/" target="_blank">
    <button class="btn-hamburguer"></button>
  </a>

  <section class="hero">
    <h1 class="hero__title-first">
      <span> Anonymous</span>
      <span> Proxy </span>
    </h1>
    <h3 class="hero__title-sec">In hac habitasse platea dictumst</h3>

    <a
      title="Go to section 3 reasons to purchase"
      class="hero__title--arrow"
      href="#main"
    >
      <img
        title="Arrow link to main"
        src="./assets/images/ico-scroll-down.svg"
        alt="Arrow to scroll down"
      />
    </a>
  </section>
</header>
