<header class="header">
  <a href="https://adalab.es/" target="_blank"
    ><button class="btn-hamburguer"></button>
  </a>

  <section class="hero">
    <h1 class="hero__title-first">
      <span> Anonymous</span>
      <span> Proxy </span>
    </h1>
    <h3 class="hero__title-sec">In hac habitasse platea dictumst</h3>

    <a href="https://adalab.es/" class="hero__title--arrow">
      <!--ojo cambiar hrf para que vaya a main-->

      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="Arrow to scroll down"
      />
    </a>
  </section>
</header>
