<main>
  <aside class="info">
    <small class="info__tips">Insomnia tips</small>
    <h2 class="info__title">
      Looking through a <span class="info__title--window">window</span>
    </h2>
    <p class="info__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a href="https://adalab.es/" target="_blank">
      <button class="info__button">Go</button>
    </a>
  </aside>
  <section id="main" class="reasons">
    <h2 class="reasons__title">3 reasons to purchase</h2>
    <div class="reasons__main">
      <article class="reasons__main-articles">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
      </article>
      <article class="reasons__main-articles">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="reasons__main-articles">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <div class="reasons__button">
      <button class="reasons__button-out">
        <a
          class="reasons__button-out--link"
          href="https://adalab.es/"
          target="_blank"
        >
          More reasons</a
        >
      </button>
    </div>
  </section>
</main>
