/*TYPOGRAFY*/
$robotoSlab: "Roboto Slab", serif;
$robotoRegular: "Roboto", sans-serif;

/*COLORS*/
$strongBlue: #0271bc;
$white: #ffffff;
$orange: #f26002;
$lightblue: #8ccbea;
$darkBlue: #304268;
$iceBlue: #eff9ff;
$black: #000000;
$softGrey: #4a4a4a;
