/*TYPOGRAFY*/
$robotoSlab: "Roboto Slab", serif;
$robotoRegular: "Roboto", sans-serif;

/*COLORS*/
$strongBlue: #0271bc;
$white: #ffffff;
$orange: #f26002;
$lightblue: #8ccbea;
$darkBlue: #304268;
$iceBlue: #eff9ff;
$black: #000000;
$softGrey: #4a4a4a;

/*SIZES*/
$unoSeis: 16px;
$dosCuatro: 24px;
$cuatroDos: 42px;
$unoCuatro: 14px;
$dosCero: 20px;
$unoOcho: 18px;
$tresCero: 30px;
