.footer {
  background-color: $darkBlue;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.footer__arrow {
  background-color: $white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 13px 10px 14px 14px;
}
.footer__articles {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: start;
  }
}
.footer__articles-five {
  margin: 60px 123px 30px 124px;
  font-family: $robotoRegular;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__articles-three {
  margin-top: 30px;
  font-family: $robotoRegular;
  color: $white;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.footer__copy {
  margin-top: 30px;
  margin-bottom: 45px;
  font-family: $robotoRegular;
  color: $white;
  font-size: 14px;
  line-height: 30px;
}
.footer__articles-five--link {
  padding: 10px;
}
.footer__articles-three--link {
  padding: 15px;
}
