.header {
  background-color: violet;
}

.hero-image {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.menu {
  background-color: salmon;
  position: fixed;
  top: 0;
  z-index: 990;
}
.title {
  display: flex;
  justify-content: center;
}

.title__first {
  background-color: skyblue;
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 42px;
}
.title__sec {
  background-color: springgreen;
  position: absolute;
  top: 50%;
}
