.reasons {
  background-color: $iceBlue;
  padding: 30px 15px 60px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reasons__title {
  background-color: peru;
  border: 2px solid blueviolet;
  font-family: $robotoSlab;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  color: $black;
}
.reasons__main {
  background-color: burlywood;
}
// .reasons__main-articles {
// }
.reasons__button {
  width: 184px;
  height: 45px;
  background-color: $orange;
  border-radius: 25px;
  box-shadow: unset;
}
