.reasons {
  background-color: $iceBlue;
  border: 2px solid green;
}

.reasons__title {
  background-color: peru;
  border: 2px solid blueviolet;
}
.reasons__main {
  background-color: burlywood;
}
