.reasons {
  background-color: $iceBlue;
}

.reasons__title {
  font-family: $robotoSlab;
  font-weight: bold;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 30px;
  color: $black;
  text-align: center;
  padding: 30px 15px;
}
.reasons__main {
  background-color: burlywood;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
// .reasons__main-articles {
// }
.reasons__button {
  width: 100%;
  text-align: center;
}
.reasons__button-out {
  background-color: $orange;
  border-radius: 22.5px;
  margin: 45px 0;
  border: 2px solid #f26002;
  color: $white;
  font-size: 20px;
  padding: 10px 30px;
  font-family: $robotoRegular;
  // transition: all 2s ease;
}
// .reasons__button:hover {
//   background-color: $white;
//   color: $orange;
// }
.reasons__button-out--link {
  color: white;
}
